.gallery__container {
  width: 95%;
  margin: 0 auto;
}

.gallery__block {
  width: 100%;
}

.gallery__title {
  font-size: 150px;
  background: linear-gradient(45deg, #5942B7 33%, #AE73E4 66%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #0B2349;
  display: table;
}

.gallery__row {
  display: flex;
  justify-content: space-between;
}

.gallery__text {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gallery__text div {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gallery__line {
  height: 800px;
  width: 10px;
  background-color: #AE73E4;
  margin-right: 30px;
}

.gallery__logo {
  width: 30%;
}

.gallery__logoinfo {
  width: 60%;
}

.gallery__row2 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 70px;
  margin-bottom: 100px;
}